@page "/CompanyView"
@page "/CompanyView/{CompanyId:int}"
@inject ApplicationDbContext _db;
@inject AuthenticationStateProvider AuthenticationStateProvider;
@inject UserManager<User> _userManager;
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime;
@inject IStringLocalizer<CompanyView> L
@attribute [Authorize]


<div class="container">
    <AuthorizeView>
        <Authorized>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link @CheckActivePartial(1)" @onclick="(e => ActivePartial = 1)">Main</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @CheckActivePartial(2)" @onclick="(e => ActivePartial = 2)">Comments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @CheckActivePartial(3)" @onclick="(e => ActivePartial = 3)">Donate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @CheckActivePartial(4)" @onclick="(e => ActivePartial = 4)">Rating</a>
                </li>
            </ul>
        </Authorized>
    </AuthorizeView>

    @switch (ActivePartial)
    {
        case 1: <CompanyViewMain CompanyId="CompanyId"/>
            break;
        case 2: <CompanyViewComments />
            break;
        case 3: <CompanyViewDonate CompanyId="CompanyId"/>
            break;
        case 4: <CompanyViewRating />
            break;
    }
</div>



@code {
    [Parameter]
    public int CompanyId { get; set; }

    private int ActivePartial { get; set; } = 1;
    private string CheckActivePartial(int partial)
    {
        return partial == ActivePartial ? "active disabled" : "";
    }
}
